 /*Пусть размер шрифта для абзацев равен 30px. Установите свойство line-height так, чтобы видимый белый промежуток между абзацами был равен 15px.*/
 /*p {
    font-size: 15px ;
    line-height: 30px;
 }*/


 /*Пусть размер шрифта для абзацев равен 30px. Установите свойство line-height так, чтобы видимый белый промежуток между абзацами был равен 15px. Используйте для этого значение line-height без единиц*/
 /* p {
    font-size: 30px;
    line-height: 1.5;
   }*/



 /*Сократите код, используя свойство-сокращение font:*/
 /*p {
    font: 13px/20px "Times New Roman";
 }*/



 /*Сократите код, используя свойство-сокращение font:*/
 /*p {
    font: bold 40px Arial
 }*/

  /*самостоятельно опробуйте свойство*/
  /*p {
    width: 400px;
    text-align: justify;
    text-indent: 50px;
  }*/ 


   /*Практические задачи*/
   p {
    text-decoration: overline;
    font-style: fantasy;
    width: 700px;
    height: 700px;
    color: red;
   }
 
